@inherits ComponentBase

<div class="alert alert-@AlertType">
    @ChildContent
</div>

@code {
    [Parameter] public string AlertType { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}
