.report {
    background-color: white;
}
.rz-radiobutton-label {
    margin: 0 1rem 0 1rem;
}
.question-row {
    border: solid 1px;
    flex-direction: row;
    margin: 0.5rem;
}
.question-col {
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-right: 1rem;
    background-color: #F3C3E2;
    padding: 10px;
    line-height: 1;
}
.answers-row {
    flex-direction: row;
    width: 60%;
}
.answer-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.7rem;
    line-height: 1;
}
.user-border {
    border: solid 1px;
    border-radius: 4px;
}
.header.fixed {
    color: black;
    background-color: white;
    height: 60px;
    left: 0px;
    box-shadow: 0 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.body {
    padding: 0;
    margin-bottom: 0;
}
body {
    margin-top: 60px;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
}
.body-footer {
    background-color: white;
    color: #b2b2b2;
    border-top: 12px solid #d8d8d8;
    line-height: 1.7;
    font-size: 16px;
    padding: 60px 0 0 0
}
p {
    line-height: 1.7;
}
#logo {
    height: 195px;
    /*margin-left: 250px;*/
}
.pic-container {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("/images/pic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 24px;
}
.pic-text {
    text-align: center;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 1.1;
}
.audit-text {
    font-size: 18px;
    text-align: center;
}
.footer-link:link, .footer-link:visited, .footer-link:active {
    color: #b2b2b2;
    text-decoration: none;
}
.footer-link:hover {
    color: #a8367e;
    text-decoration: none;
}
.forgot-pwd {
    position: relative;
    display: inline-block;
    color: #b2b2b2;
    font-size: 14px;
    text-align: right;
}
.forgot-pwd-text {
    min-width: 100px;
    padding: 5px;
    background: #fff;
    visibility: hidden;
    border: 1px solid black;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
}
.forgot-pwd:hover .forgot-pwd-text {
    visibility: visible;
}
.user-data-text {
}
.user-data-text-asterix {
    min-width: 700px;
    padding: 5px;
    background: #fff;
    visibility: hidden;
    border: 1px solid black;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.user-data-text:hover .user-data-text-asterix {
    visibility: visible;
}
.user-data-text-short-asterix {
    min-width: 400px;
    padding: 5px;
    background: #fff;
    visibility: hidden;
    border: 1px solid black;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.user-data-text:hover .user-data-text-short-asterix {
    visibility: visible;
}
.text-bold {
    font-weight: bold;
}
.text-normal {
    font-weight: normal;
}
.partner-cell {
    width: 100%;
    padding-bottom: 20px;
}
.partner {
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 1px;
    border-color: rgb(242, 242, 242);
    border-style: solid;
    padding: 20px;
}
.p-img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0.95);
    transition: 0.5s;
}
.p-img:hover {
    transform: scale(1.05);
}
.p-header-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 0.75em);
    height: calc(100% + 0.75em);
    transform: translate(-50%,-50%);
    overflow: visible;
}
.p-header-path {
    fill: none;
    stroke-dasharray: 1500;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #6193c1 !important;
    stroke-width: 9;
}
.stats-pic {
    font-size: 10em;
    width: 100%;
    height: 100%;
    color: #19426d;
}
.stats-text {
    text-align: center;
    font-size: 1.4em;
    color: #19426d;
    line-height: 1;
}
.info-area {
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    background-color: #19426d;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.info-icon {
    width: 80px;
    height: 80px;
    float: left;
    margin: 0.3em 0.75em 0.75em 0;
}
.info-text {
    padding-top: 30px;
    text-align: justify;
    color: white;
}
.table-report {
    width: 100%;
    line-height: 1;
}
.table-report, .table-report td {
    border: 2px solid #a8367e;
    font-size: 10px;
    vertical-align: middle;
    text-align: left;
}
.summary-table-report {
    font-size: 15px;
    text-align: center;
    line-height: 1.3;
    padding: 5px;
    margin-bottom: 2rem;
    table-layout: fixed;
    width: 100%;
}
.summary-table-report td {
    border: 2px solid #a8367e;
    width: 10%;
    min-height: 10px;
}
.margin-bottom {
    margin-bottom: 1rem;
}
.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337ab7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.news {
    border-width: 1px;
    border-radius: 10px;
    border-color: #6193c1;
    border-style: solid;
    padding: 10px;
}
.news-link:link, .news-link:visited, .news-link:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.news-link:hover {
    /*color: #a8367e;*/
    color: #71CDDC;
    text-decoration: none;
}
.blog-position {
    padding-top: 24px;
}
.blog-header {
    font-size: 1.5em;
    font-weight: bold;
}
.blog-subheader {
    font-size: 1.2em;
    font-weight: bold;
}
.blog-pic {
    margin-bottom: 24px;
}